@using System.Threading.Tasks

@if (Visible)
{
    <div class="modal-overlay" @onclick="HandleOverlayClick">
        <div class="modal-container" @onclick:stopPropagation="true">
            <div class="modal-header">
                <h5 class="modal-title">@Header</h5>
            </div>
            <div class="modal-content">
                <EditForm Model="Model" OnValidSubmit="HandleSubmit" FormName="taskForm">
                    <div class="content-container" >
                        @ChildContent
                    </div>
                    <div class="buttons-container" >
                        <button type="button" class="btn btn-secondary" @onclick="HandleCancel">Cancelar</button>
                        <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public string Header { get; set; } = string.Empty;
    [Parameter] public object Model { get; set; } = new();
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public string SubmitButtonText { get; set; } = "Salvar";
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    private async Task HandleCancel()
    {
        await VisibleChanged.InvokeAsync(false);
        if (OnCancel.HasDelegate)
            await OnCancel.InvokeAsync();
    }

    private async Task HandleSubmit()
    {
        if (OnSubmit.HasDelegate)
            await OnSubmit.InvokeAsync();
    }

    private async Task HandleOverlayClick()
    {
        await VisibleChanged.InvokeAsync(false);
    }

    public async Task OnUpdate(bool visible)
    {
        Visible = visible;
        await VisibleChanged.InvokeAsync(visible);
    }
}
