services:
  lifesyncdb:
    container_name: lifesyncdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=LifeSyncDB
    restart: always
    ports:
        - "5433:5432"
    volumes:
      - postgres_lifesync:/var/lib/postgresql/data/ 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    restart: always
    depends_on:
      - lifesyncdb
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  rabbitmq:
    container_name: rabbitmq
    hostname: lifesync-mq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  taskmanager.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__DefaultConnection=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
      - RabbitMQSettings__Host=rabbitmq
      - RabbitMQSettings__Port=5672
      - RabbitMQSettings__User=guest
      - RabbitMQSettings__Password=guest
    depends_on:
      lifesyncdb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    # ports:
    #   - "6000:8080"
    #   - "6060:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
  
  nutrition.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
    depends_on:
      lifesyncdb:
        condition: service_healthy
    # ports:
    #   - "6001:8080"
    #   - "6061:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  financial.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
    depends_on:
      lifesyncdb:
        condition: service_healthy
    # ports:
    #   - "6002:8080"
    #   - "6062:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  users.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
      - RabbitMQSettings__Host=rabbitmq
      - RabbitMQSettings__Port=5672
      - RabbitMQSettings__User=guest
      - RabbitMQSettings__Password=guest
    depends_on:
      lifesyncdb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    # ports:
    #   - "6003:8080"
    #   - "6063:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  gym.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
    depends_on:
      lifesyncdb:
        condition: service_healthy
    # ports:
    #   - "6004:8080"
    #   - "6064:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  emailsender.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=lifesyncdb;Port=5432;Database=LifeSyncDB;User Id=postgres;Password=postgres;Include Error Detail=true;Trust Server Certificate=true
      - RabbitMQSettings__Host=rabbitmq
      - RabbitMQSettings__Port=5672
      - RabbitMQSettings__User=guest
      - RabbitMQSettings__Password=guest
      - SmtpSettings__Host=mailhog
      - SmtpSettings__Port=1025
      - SmtpSettings__EnableSsl=false
      - SmtpSettings__User=            
      - SmtpSettings__Password=
      - SmtpSettings__From=no-reply@test.local
    depends_on:
      lifesyncdb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      mailhog:
        condition: service_started
    # ports:
    #   - "6005:8080"
    #   - "6065:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
 
  yarpapigateway:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development        
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    depends_on:
      - taskmanager.api
      - nutrition.api
      - financial.api
      - users.api
      - gym.api
      - emailsender.api
    ports:
      - "6006:8080" 
      - "6066:8081"
    volumes:
      - yarpapigateway_dataprotection_keys:/keys

  lifesyncapp.webapp:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development        
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - BaseApiUrl=http://yarpapigateway:8080
    depends_on:
      - yarpapigateway
    ports:
      - "6007:8080"
      - "6067:8081"
