<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LifeSync</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-check-square" aria-hidden="true"></span> Tarefas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nutrition">
                <span class="bi bi-egg-fried" aria-hidden="true"></span> Nutrição
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial">
                <span class="bi bi-wallet2" aria-hidden="true"></span> Financeiro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gym">
                <span class="bi bi-activity" aria-hidden="true"></span> Academia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <hr class="my-2" />
            <small class="text-muted px-3">Dashboards</small>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/tasks">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Dashboard Tarefas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/nutrition">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Dashboard Nutrição
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/financial">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Dashboard Financeiro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard/gym">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Dashboard Academia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>

