.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-control {
    width: 80%;
}
