.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
    text-align: center;
}

.form-control {
    width: 80%;
}

.loading-container {
    text-align: center;
    padding: 3rem;
}

.loading span {
    margin-top: 1rem;
}

.loading {
    width: 40px;
    height: 40px;
    border-width: 4px;

}
