@using Microsoft.AspNetCore.Components.Routing

<nav class="nav-group">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="nav-link" href="/tasks">Tarefas</NavLink>
    <NavLink class="nav-link" href="/nutrition">Nutrição</NavLink>
    <NavLink class="nav-link" href="/financial">Financeiro</NavLink>
    <NavLink class="nav-link" href="/gym">Academia</NavLink>
    @if (ShowLogout)
    {
        <div class="nav-sep"></div>
        <NavLink class="nav-link" href="/logout">Sair</NavLink>
    }
</nav>

@code {
    [Parameter] public bool ShowLogout { get; set; } = true;
}
